<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996041048349-smubkuvvushah2b7i9vcs210tkoi4c2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996041048349-smubkuvvushah2b7i9vcs210tkoi4c2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDj553vIvAHzT8MA5GmCMOl64c72EYoLgk</string>
	<key>GCM_SENDER_ID</key>
	<string>996041048349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.InterfaceBuilder.IBCocoaTouchPlugin</string>
	<key>PROJECT_ID</key>
	<string>fir-to-do-529e5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-to-do-529e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996041048349:ios:64d974bd9bb301a23421f4</string>
</dict>
</plist>